.combobox {
  position: relative;
  &.open {
    ul {
      opacity: 1;
    }
  }
  ul {
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 2px 2px;
    opacity: 0;
    li {
      border-bottom: 1px solid #dcdcdc;
      padding-left: 10px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
